[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "tsinghua"

[packages]
flask = "*"
sentry-sdk = "*"
flask-restful = "*"
flask-login = "*"
gitpython = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-wtf = "*"
wtforms = "*"
redis = "*"
email-validator = "*"
flask-mail = "*"
pillow = "*"
influxdb-client = "*"
apscheduler = "*"
openai = "*"
requests = "*"
pysocks = "*"

[dev-packages]
python-dotenv = "*"
gunicorn = "*"
